
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width:100%;
    background-color:white;
    top:0;
    z-index: 200;
    box-shadow: 0 5px 7px -9px rgba( 0, 0, 0, 0.75);



}
.header__center {
    display: flex;
    align-items: center;
    flex:1;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border:1px solid lightgray;
    border-radius: 999px;
}
.header__center > input {
   border:none;
   outline: none;
   
}
.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}
.header__icon {
    object-fit: contain;
    height: 100px;
    margin-left:80px;
    
}