.banner {
    background: url("https://images.unsplash.com/photo-1496417263034-38ec4f0b665a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60vh;
    position: relative;

}.banner__info {
    padding: 25vh 50px 40px 50px;
    color :white;
    width:300px;
}
.banner__info > button {
    background-color:#ff7779;
    color:white;
    font-weight: 300px;

}

.banner__info > button:hover {
    background-color:white;
    color:  #ff7779
}
.search__button__container {
    display: flex;
    width:100%;

    align-items: center;
    justify-content: space-between;
}
.search__button__container > button {
    position: absolute;
    top:0;
    right:0;
    font-size:15px;
    text-transform: lowercase ;
    color:#204061 !important;
    background-color:white;
    font-weight: 600px;
    outline:none;
   
    
    
}
.search__button__container :hover  {
    background-color: bleu !important;
    color:white !important
    
}